<div class="row">
	<div class="col-xs-12">
		<table class="table table-striped table-condensed" style="width: auto; border: 1px solid #ddd">
			<thead>
				<tr>
					<th>Version</th>
					<th>Status</th>
					<th>Install</th>
					<th>Activate</th>
					<th>Remove</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="goversion in released">
					<td>
						{{ goversion }}
					</td>
					<td>
						<span ng-if="installed[goversion]" class="label label-success">installed</span>
						<span ng-if="active['go'] === goversion" class="label label-primary">go</span>
						<span ng-if="active['go-prev'] === goversion" class="label label-primary">go-prev</span>
					</td>
					<td>
						<button ng-if="!installed[goversion]" btn="default sm" icon="plus-circle" saving-click="install(goversion)">Install</button>
					</td>
					<td>
						<button ng-if="active['go'] !== goversion && installed[goversion]" btn="default sm" icon="save" saving-click="activate(goversion, 'go')">go</button>
						<button ng-if="active['go-prev'] !== goversion && installed[goversion]" btn="default sm" icon="save" saving-click="activate(goversion, 'go-prev')">go-prev</button>
					</td>
					<td>
						<button ng-if="installed[goversion]" btn="danger sm" icon="minus-circle" saving-click="remove(goversion)">Remove</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
