<div class="row">
	<div class="col-xs-12">
		<div class="page-buttons">
			<div class="btn-group">
				<button btn="danger" icon="trash" loading-click="clearRepoHomedirs()" uib-tooltip="Remove shared home directories (across builds) for all repositories">Clear home directories</button>
				<button btn="default" icon="play" loading-click="createLowPrioBuilds()" uib-tooltip="Create low priority builds for all repositories for the main branch (master for git, develop for mercurial). Only one low priority build runs at a time in ding. And per repository always after regular builds.">Build all ↓</button>
				<button loading-click="newRepo()" btn="success" icon="plus-circle">New repository</button>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="panel-title">Repositories &amp; latest builds</div>
			</div>
			<table class="table">
				<thead>
					<tr>
						<th>Repository</th>
						<th>Branch</th>
						<th>Status</th>
						<th>Version</th>
						<th>Cover</th>
						<th style="width: 4.5em">Time</th>
						<th style="width: 3.5em">Disk</th>
						<th>Age</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody ng-if="repoBuilds.length === 0">
					<tr>
						<td colspan="9">No repos</td>
					</tr>
				</tbody>
				<tbody ng-repeat="rb in repoBuilds" ng-init="active = $odd">
					<tr ng-if="rb.builds.length === 0" ng-class="{active: active}">
						<td colspan="9">No builds</td>
					</tr>
					<tr ng-repeat="b in rb.builds" ng-class="{active: active}">
						<td>
							<a ng-if="$first" ng-href="#/repo/{{ rb.repo.name }}/">{{ rb.repo.name }}</a>
						</td>
						<td>{{ b.branch }}</td>
						<td>
							<build-status status="b.status" finish="b.finish" released="b.released" lowprio="b.low_prio"></build-status>
							<span ng-if="b.results.length > 0">{{ b.results.length === 1 ? '1 file' : '' + b.results.length + ' files' }}</span>
							<div ng-if="b.finish && b.status !== 'success'" style="white-space: pre-wrap; margin-bottom: 2rem">{{ b.last_line }}
{{ b.error_message }}</div>
						</td>
						<td>{{ b.version }}</td>
						<td><coverage build="b" repo="rb.repo"></coverage></td>
						<td><buildtime start="b.start" finish="b.finish"></buildtime></td>
						<td><filesize size="b.disk_usage"></filesize></td>
						<td><age time="b.created"></age></td>
						<td>
							<a class="btn btn-default" ng-href="#/repo/{{ rb.repo.name }}/build/{{ b.id }}/" link-disabled="b.builddir_removed">Open</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
