@charset "UTF-8";
.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}

.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}

.bs-callout p:last-child {
  margin-bottom: 0;
}

.bs-callout code {
  border-radius: 3px;
}

.bs-callout + .bs-callout {
  margin-top: -5px;
}

.bs-callout-default {
  border-left-color: #777;
}

.bs-callout-default h4 {
  color: #777;
}

.bs-callout-primary {
  border-left-color: #428bca;
}

.bs-callout-primary h4 {
  color: #428bca;
}

.bs-callout-success {
  border-left-color: #5cb85c;
}

.bs-callout-success h4 {
  color: #5cb85c;
}

.bs-callout-danger {
  border-left-color: #d9534f;
}

.bs-callout-danger h4 {
  color: #d9534f;
}

.bs-callout-warning {
  border-left-color: #f0ad4e;
}

.bs-callout-warning h4 {
  color: #f0ad4e;
}

.bs-callout-info {
  border-left-color: #5bc0de;
}

.bs-callout-info h4 {
  color: #5bc0de;
}

.topbar {
  color: #f9f9f9;
  background: #002857;
  background: linear-gradient(to right, #002857, #001c3e);
}
.topbar a {
  color: inherit;
}
.topbar .breadcrumbs {
  float: left;
  margin: 0;
  list-style: none;
  display: block;
  padding: 5px 5px 5px 0;
  line-height: 30px;
}
.topbar .breadcrumbs > .crumb {
  display: inline-block;
}
.topbar .breadcrumbs > .crumb:last-child {
  font-weight: 500;
}
.topbar .breadcrumbs > .crumb + .crumb:before {
  padding-left: 0.5em;
  color: #ccc;
  content: "/ ";
}
.topbar .topright-buttons {
  float: right;
  padding: 5px;
}

html {
  overflow-y: scroll;
}

html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
}

body.modal-open {
  overflow: visible;
}

.block404 {
  text-align: center;
  margin: 4em 0;
}
.block404 .big {
  font-size: 72px;
}
.block404 .small {
  font-size: 32px;
}

.page {
  padding: 10px 0;
}

.page-header {
  margin-top: 0;
  margin-bottom: 10px;
}

.page-buttons {
  margin-bottom: 2ex;
}

.empty-table {
  padding: 2em !important;
  background-color: #f8f8f8;
}

.table-action {
  max-width: 35%;
  float: right;
  clear: both;
  margin-top: -5px;
}
.table-action input {
  max-width: 100%;
  width: 20em;
}

.panel-title-button {
  margin-top: -6px;
}

.clickrow {
  cursor: pointer;
}

.tooltip {
  font-size: inherit;
}

.footer {
  position: absolute;
  bottom: -60px;
  left: 0;
  right: 0;
  line-height: 50px;
  background-color: #f8f8f8;
  color: #888;
}
.footer a {
  text-decoration: underline;
}

.sort {
  display: inline-block;
  font-size: 0.6em;
  color: #ccc;
  vertical-align: middle;
}
.sort .up,
.sort .down {
  line-height: 1;
}
.sort .up.active,
.sort .down.active {
  color: #333;
}

.sortcol {
  cursor: pointer;
  user-select: none; /* CSS3 (little to no support) */
  -ms-user-select: none; /* IE 10+ */
  -moz-user-select: none; /* Gecko (Firefox) */
  -webkit-user-select: none; /* Webkit (Safari, Chrome) */
}

.imagebackdrop {
  opacity: 1 !important;
  background-color: gray !important;
  background-size: cover;
  background-position: center center;
}

@media only screen and (max-width: 780px) {
  .imagebackdrop {
    background-image: url("../img/unsplash-abigail-lynn-316133-780x.jpg");
  }
}
@media only screen and (min-width: 781px) and (max-width: 1280px) {
  .imagebackdrop {
    background-image: url("../img/unsplash-abigail-lynn-316133-1280x.jpg");
  }
}
@media only screen and (min-width: 1281px) {
  .imagebackdrop {
    background-image: url("../img/unsplash-abigail-lynn-316133-1920x.jpg");
  }
}
.loader {
  font-size: 3em;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
  color: #444;
  line-height: 1;
  z-index: 2000;
  border-radius: 0.25em;
  padding: 0.25em;
}
.loader .loader-elem {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0 0.15em;
  border-radius: 0.1em;
}

.loadingsaved {
  position: fixed;
  top: 5px;
  left: 5px;
  color: white;
  background-color: #5cb85c;
  padding: 10px;
  border-radius: 5px;
  z-index: 2001;
  opacity: 0.95;
}

body {
  padding-right: 0 !important;
}

.build-output {
  white-space: pre-wrap;
  font-size: 13px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

/*# sourceMappingURL=app.css.map */
